/**
 * Nome do arquivo: home.module.css
 * Data de criação: 10/05/2024
 * Autor: Graziele Oliveira
 * Matrícula: 01632441
 *
 * Descrição:
 * Este arquivo CSS é responsável por trazer a estilização do meu sistema web.
 *
 * Este script é parte o curso de ADS.
 */
.form, .caixavizinha {
  flex: 1;
  margin: 0 20px;
  overflow: auto; /* Adiciona scroll se necessário */
  scrollbar-width: auto;
  
}

.caixavizinha::-webkit-scrollbar {
  width: 10px;
}


.form {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.caixavizinha {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: calc(100vh - 100px); /* Limita a altura máxima */
}

.h1 {
  color: saddlebrown;
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}

.input {
  width: 100%;
  margin: 10px 0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  background-color: saddlebrown;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.button:hover {
  background-color: #8B4513;
}

.cadastrado {
  background-color: #FFDAB9;
  border-radius: 4px;
  text-align: left;
  width: 90%;
  margin: 10px 0;
  padding: 10px;
}

.buttone, .buttond, .buttonb, .buttoni {
  background-color: saddlebrown;
  color: white;
  padding: 5px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 5px;
}

.buttone:hover {
  background-color: #FF4500;
}

.buttond:hover {
  background-color: red;
}

.inputb {
  width: 50%;
  margin: 10px 0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.status::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
}

.status-pendente::before {
  background-color: red;
}

.status-em-andamento::before {
  background-color: orange;
}

.status-concluido::before {
  background-color: green;
}